@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

header h1 {
  margin: 20px;
}

.container {
  width: 1580px;
  margin: auto;
}

.showcase .flex {
  gap: 32px;
}

.btn {
  background-color: #3882f6;
  border: none;
  border-radius: 8px;
  padding: 12px 32px;
  margin: 10px 0;
  color: white;
}

.block-container {
  border: 1px solid black;
  height: auto;
  width: auto;
  font-size: 0;
}

.block {
  display: inline-block;
  padding: 10px;
  border: 1px solid black;
  font-size: 0;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.xy-center {
  align-items: center;
  justify-content: center;
}

#range-slider {
  width: 600px;
  margin: auto;
}

#range-slider .range-slider__thumb[data-lower] {
  width: 0;
}

#range-slider .range-slider__range {
  border-radius: 6px;
}
